*{  margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        background: #080808;
    }
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav h1{
    color: #fff;
    cursor: pointer;
}
.container{
    padding: 10px 10%;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:30px;
}
nav ul li a{
    text-decoration: none;
    color:#FDFEFE  ;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 4px;
    background: #E3E611;
    position: absolute;
    left:0;
    bottom: -5px;
    transition: 0.6s;
}

nav ul li a:hover::after{
    width: 100%;
    
}
.back-video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text p{
    color: #fff;
}
.header-text h1 span{
color: #E3E611 ;
}
.header-text h1{
    color: #FDFEFE;
}
@media(min-aspect-ratio:16/9){
    .back-video{
width: 100%;
height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
width: auto;
height: 100%;
    }
}
/*---------------------about-----------------*/
    /*IMNECESARIO;
     width: 300px;
    height: 350px;*/
.image img{
    width: 90%;
    height: 90%;
    border-radius: 15px;
}
#about{
    padding: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 65%;
}
.subtitle{
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 550;
    color: #fff;
}
.text{
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px 
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 550;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.6s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
     list-style: none;
     margin: 20px 0;
     color:#fff;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------------------------------------------------services-------------------------------------------------------*/
.services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
    margin-top: 40px;
    color: #FDFEFE;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*--------------------------My Work*-------------------------------------*/
#portfolio{
    padding: 50px 0;
    margin-left: 5%;
    margin-right: 5%;

}
.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
}
.portfolio{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display:block;
    object-fit: cover;
    transition: transform 0.5s;
}
.more-text{
    color:#FDFEFE;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.3), #ff004f);
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s
}
.more-text h3{
    font-weight: 650;
    margin-bottom: 20px;
}
.more-text a{
    margin-top: 15px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.portfolio:hover img{
    transform: scale(1.2);
}
.portfolio:hover .more-text{
    height: 100%;
}
.btn{
    display: block;
    margin:  50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 8px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.container-three{
    margin-left: 5%;
    margin-right: 5%;
}
/*-------------------------------------------Contact---------------------------------------------------------*/
.contact-left{
    color: #fff;
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-bottom: 20px;
}
.contact-left p i{
    margin-right: 12px;
    color: #ff004f;
    font-size: 22px;
}
.social-icons{
    margin-top: 25px;
}
.social-icons a{
    font-size: 26px;
    text-decoration: none;
    margin-right: 12px;
    color: #D0D3D4;
    display: inline-block;
    transition: transform 0.8s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-8px);
}
.btn.btn2{
    display: inline-block;
}
.btn.enviar{
background: #ff004f ;
cursor: pointer;
margin-top: 20px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    resize: none;
    width: 100%;
    border: 0;
    outline: none;
    background:#D0D3D4;
    padding: 15px;
    margin: 10px 0;
    color: #2C3E50 ;
    font-size: 15px;
    border-radius: 9px;
}
.copyright{
    width: 100%;
    background:#262626;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
}
.copyright p i {
    font-size: 20px;
}
/* ---------------------------------------------------Resposive*-----------------------------------------------*/
nav .fa-solid{
    display:none;
    color: #fff;
}
@media only screen and (max-width: 600px){
    nav .fa-solid{
        display: block;
        color: #fff;
        font-size: 20px;
    }
    nav ul {
        background: #5B15DF;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        padding-left: 1px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
   .about-col-1{
    margin-bottom: 30px;
   }
   .tab-links{
    font-size: 17px;
    margin-right: 17px;
   }
   .contact-left, .contact-right{
    flex-basis: 100%;
   }
   .copyright{
    font-size: 15px;
   }
  
}